@import "tailwindcss";

/* scroll minimal e elegante */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* cinza escuro */
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* cinza mais claro no hover */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}


:root {
  --cor-primaria: #e11d1d;
  --cor-secundaria: #fff7f7;
  --cor-texto: #1f2937;
  --cor-destaque: #facc15;
}

body {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
}

/* Exemplo de uso */
.btn-primary {
  background-color: var(--cor-primaria);
  color: white;
}

.btn-outline {
  border: 1px solid var(--cor-destaque);
  color: var(--cor-destaque);
}
